:root {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --color-text: #222;
  --color-background: #eee;
  --column-width: 42rem;
  --column-margin-top: 4rem;
  font-family: var(--font-body);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #eee;
    --color-background: #222;
  }
}

body {
  background-color: var(--color-background);
  margin: 0;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

a {
  fill: var(--color-text);
  color: var(--color-text);
}

#turntable {
  width: 660px;
  height: 200px;
  margin: 20px 0;
  z-index: -1;
}

#turntable-inner {
  transform: scale(0.6);
}

#vert-spacer {
  margin-top: 290px;
}

#text {
  position: unset;
  right: 160px;
}

@media (min-width: 700px) {
  #turntable {
    height: 350px;
    margin: 100px 0 0 0;
  }

  #turntable-inner {
    transform: scale(1.2);
  }

  #text {
    position: relative;
  }
}
